body {
    background-color: black;
    color: white;
    text-align: center;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

article {
    padding-top: 4px;
    padding-bottom: 20px;
    margin: 10px 100px 30px;
}

p {
    padding-right: 5px;
    padding-left: 5px;
    font-size: 20px;
}

button {
    height: 30px;
    width: 200px;
}

.normalButtonText, .inprogressButtonText, .visitedButtonText, .missedButtonText {
    color: black;
    font-size: 20px;
}

.normalButtonText {

}

.visitedButtonText {
    color: #00af00;
    font-weight: bold;
}

.inprogressButtonText {
    color: orange;
    font-weight: bold;
}

.missedButtonText {
    color: red;
}

div {
    margin-bottom: 10px;
}

header {
    position: fixed;
    top: 0;
    background-color: gray;
    width: 100%;
    left: 0;
    height: 45px;
}

.topBarText {
    color: white;
    font-size: 30px;
    font-weight: bold;
}

footer {
    position: fixed;
    background-color: gray;
    bottom: 0;
    width: 100%;
    left: 0;
    height: 40px;
}

.footerText {
    font-size: 30px;
    vertical-align: center;
    margin-left: 30px;
    margin-right: 30px;
    font-weight: bold;
}